---
layout: archive
title: "Talks and presentations"
permalink: /talks/
author_profile: true
---

{% if site.talkmap_link == true %}
<p style="text-decoration:underline;">
  <a href="/talkmap.html">See a map of all the places I've given a talk!</a>
</p>
{% endif %}

<h2>Invited talks</h2>

{% assign invited_talks = site.talks | where: "talk_type", "invited" | sort: "date" | reverse %}

{% if invited_talks.size > 0 %}
  {% for post in invited_talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  <p>No invited talks to display.</p>
{% endif %}

<hr />

<h2>Conference and workshop participations</h2>

{% assign conference_talks = site.talks | where: "talk_type", "conference" | sort: "date" | reverse %}

{% if conference_talks.size > 0 %}
  {% for post in conference_talks %}
    {% include archive-single-talk.html %}
  {% endfor %}
{% else %}
  <p>No conference or workshop participations to display.</p>
{% endif %}
